Choice {
    color: white;
}

#main-content {
    height: 88%;
    padding: 1;
}

#plugins-column {
    width: 2fr;
    height:95%;
}

#selected-plugins {
    width: 1fr;
    border-left: tall $background;
    padding: 1;
    min-width: 30;
}

#selected-plugins-list {
    overflow-y: auto;
    border: tall $background;
    padding: 1;
}

#selected-plugins-list Horizontal {
    layout: horizontal;
    width: 100%;
    margin-bottom: 1;
    height: 3;
    align: left middle;
}

.plugin-list-name {
    width: 1fr;
    content-align: left middle;
    padding: 1;
}

.remove-button {
    width: 6;
    content-align: center middle;
    margin-right: 1;
    padding: 0;
}

#plugin-cards {
    layout: vertical;
    overflow-y: auto;
}

PluginCard {
    width: 100%;
    margin: 0;
    padding:0;
    border: tall $background;
    background: $surface;
}

PluginCard.selected {
    border-title-color: $success;
    background: $surface-active;
}

.panel-title {
    text-align: center;
    color: $accent;
}

.no-plugins {
    color: $text-muted;
    text-align: center;
    padding: 2;
}

.section-title {
    text-align: center;
    color: $accent;
}

.plugin-description {
    color: $text-muted;
    display:block;   
    margin-top:1;
    width:100%;
    text-align: center;
}

.plugin-name{
    width:100%;
    text-align:center;

}


#button-container {
    border-top: heavy $primary;
    width: 100%;
    align-horizontal: right;
    padding: 1 2;
    min-height: 5;
}

#button-container Button {
    margin-left: 1;
    min-width: 15;
}

.remove-button{
    max-width:7;
}