Choice {
    background: #222222;
    color: white;
}

#main-content {
    height: 100%;
    padding: 1;
}

#plugins-column {
    width: 3fr;
}

#selected-plugins {
    width: 1fr;
    border-left: tall $background;
    padding: 1;
    min-width: 30;
}

#selected-plugins-list {
    margin: 1 0;
}

#selected-plugins-list Horizontal {
    margin-bottom: 1;
    height: 3;
    align: left middle;
}

.plugin-list-name {
    width: 1fr;
    content-align: left middle;
    padding: 1;
}

.remove-button {
    width: 6;
    content-align: center middle;
    margin-right: 1;
    padding: 0;
}

#plugin-cards {
    height: 100%;
    align: center middle;
}

.section-title {
    text-align: center;
    color: $accent;
    margin-bottom: 1;
}

.plugin-name {
    color: $accent;
}

.plugin-description {
    color: $text-muted;
}

PluginCard {
    border: tall $background;
    background: $surface;
    margin: 1 2;
    padding: 1 2;
    border-title-color: $accent;
    width: 30%;
}

PluginCard.selected {
    border-title-color: $success;
    background: $surface-active;
}

#selected-plugins-list {
    margin: 1 0;
}

.panel-title {
    text-align: center;
    color: $accent;
}

.no-plugins {
    color: $text-muted;
    text-align: center;
    padding: 2;
}