Choice {
    background: #222222;
    color: white;
}

#main-content {
    height: 100%;
    padding: 1;
}

#plugins-column {
    width: 3fr;
}

#selected-plugins {
    width: 1fr;
    border-left: tall $background;
    padding: 1;
    min-width: 30;
}

#selected-plugins-list {
    overflow-y: auto;
    border: tall $background;
    padding: 1;
}

#selected-plugins-list Horizontal {
    layout: horizontal;
    width: 100%;
    margin-bottom: 1;
    height: 3;
    align: left middle;
}

.plugin-list-name {
    width: 1fr;
    content-align: left middle;
    padding: 1;
}

.remove-button {
    width: 6;
    content-align: center middle;
    margin-right: 1;
    padding: 0;
}

#plugin-cards {
    layout: grid;
    grid-size: 3;
    grid-gutter: 1;
    height: 100%;
    width: 100%;
}

PluginCard {
    width: 100%;
    margin: 1;
    padding: 1;
    border: tall $background;
    background: $surface;
}

PluginCard.selected {
    border-title-color: $success;
    background: $surface-active;
}

.panel-title {
    text-align: center;
    color: $accent;
}

.no-plugins {
    color: $text-muted;
    text-align: center;
    padding: 2;
}

.section-title {
    text-align: center;
    color: $accent;
    margin-bottom: 1;
}

.plugin-description {
    color: $text-muted;
}