/* ====== CONFIGURATION SCREEN STYLES ====== */

/* ==== GLOBAL STRUCTURE ==== */
Screen {
    background: $surface;
    height: 100%;
}

/* Page header */
#window-config-title {
    background: $surface;
    margin-left: 1;
    margin-top: 1;
    text-align: left;
    text-style: bold;
    width: 100%;
    margin-bottom: 1;
}

#config-container-list {
    height: 83%;
    overflow-y: scroll;
}

.config-fields {
    background: $panel;
    margin-left: 2;
    margin-right: 2;
    margin-bottom: 1;
    padding: 1;
    width: 100%;
}

.no-config {
    width: 100%;
    height: auto;
    background: $panel;
    margin-bottom: 1;
    padding-top: 1;
    padding-bottom: 1
}

.no-config-content {
    width: 100%;
    align-horizontal: center;
}

.no-config-icon {
    margin-right: 3;
}

.no-config-label {
    text-style: italic;
}



.field-header {
    padding-left: 1;
}

.config-title {
    background: $panel;
    text-align: center;
    text-style: bold;
    width: 100%;
    padding-top: 1;
    margin-left: 2;
    margin-right: 2;
}

.config-description {
    background: $panel;
    margin-left: 2;
    margin-right: 2;
    width: 100%;
    display: none;
    height: 0;
}

.required-star {
    color: $error;
    text-style: bold;
}

.input-container,
.select-container,
.checkbox-container {
    margin-bottom: 1;
}

.browse-button {
    margin-left: 1;
    margin-bottom: 1;
}