Screen {
    height: 100%;
    width: 100%;
    layout: vertical;
}

#config-container {
    width: 100%;
    height: 1fr;
    padding: 1;
    overflow-y: auto;
    margin-bottom: 0;
    height:90%;
}

.plugin-container {
    margin-bottom: 1;
    border: tall $primary;
    padding: 1;
    background: $surface;
}

.plugin-config {
    background: $panel;
    margin-bottom: 1;
    padding-bottom: 1;
    padding-left:1;
    padding-right:1;
    border: tall $primary;
    height: auto;
}

#button-container {
    border-top: heavy $primary;
    width: 100%;
    align-horizontal: right;
    padding: 1 2;
    min-height: 5;
}

#button-container Button {
    margin-left: 1;
    min-width: 15;
}

.plugin-header {
    margin-bottom: 1;
}

.plugin-description {
    color: $text-muted;
    text-align:left;

}

.plugin-title {
    text-style: bold;
    width:100%;
    text-align:center;
}

.field-label {
    margin-right: 1;
    margin-top:1;
    margin-bottom:1;
}

.field-description {
    color: $text-muted;
    width: 100%;
    overflow: auto;
    margin-top:1;
    margin-left:1;
}

.required-star {
    color: red;
    margin-top:1;
}

Input.error {
    border: tall $error;
}

ConfigField.disabled {
    opacity: 0.5;
}

ConfigField.disabled Input,
ConfigField.disabled Select {
    background: $surface-darken-2 !important;
    border: tall $background !important;
    color: $text-muted !important;
}

.no-config-container {
    width: 100%;
    height: 3;
    align: center middle;
    border: tall $primary;
    background: $boost;
    margin: 1;
}

.no-config-icon {
    color: $success;
    margin-right: 1;
}

.no-config {
    color: $text-muted;
}


#button-container {
    border-top: heavy $primary;
    width: 100%;
    align-horizontal: right;
    padding: 1 2;
    min-height: 5;
}

#button-container Button {
    margin-left: 1;
    min-width: 15;
    content-align: right middle;
}

.checkbox-group-label{
    height:100%;
    content-align: center middle;
}