/* Conteneur de plugin avec sa progressbar */
#plugins-list{
    margin-top:1;
    margin-left:2;
    margin-right:2;
    padding-right:1;
}

.plugin-container {
    margin-bottom: 1;
    border-top:solid red;
    padding:0;
    height:3;
}


.plugin-name {
    width: 20%;
    content-align: left middle;
}

.plugin-progress {
    width: 60%;
}

Bar{
    width: 95%;
    height: 100%;
}

.plugin-status {
    width: 20%;
    content-align: center middle;
}

/* États des plugins */
.plugin-container.waiting {
    border: tall $primary;
    opacity: 70%;
}

.plugin-container.running {
    border: solid $warning;
    opacity: 100%;
    background: $warning 10%;
}

.plugin-container.success {
    border: solid $success;
    opacity: 70%;
}

.plugin-container.error {
    border: solid $error;
    opacity: 70%;
}

#logs{

    width:100%;
}


#logs-container {
    height: 20;

    margin-left:3;
    padding:0;
    margin-right:3;
}

#button-container {
    height: 3;
    align: center middle;
    padding: 0 2;
}

#start-button {
    dock: left;
    margin-right: 1;
}

#quit-button {
    dock: right;
}

#continue-on-error {
    margin-right: 2;
    width:30%;
    content-align:left middle;
}

#global-progress-label {
    margin-right: 1;
    content-align: left middle;
    height:3;
    
}

#global-progress {
    width: 40%;
    height: 3;
    content-align: left middle;
}

#global-progress Bar {
    height: 1;
    width:80%;
    margin-top: 1;
}

#global-progress PercentageStatus{
    height: 1;
    margin-top:1;
}