#logs-container {
    width: 100%;
    height: 30vh;
    border: solid $primary 1px;
    margin: 1 1;
    display: block;
    background: $success;
}


#logs-content {
    height: 100%;
    margin: 0 1;
    overflow: hidden auto;
}

#logs-text {
    width: 100%;
    height: auto;
}

.plugin-container {
    margin: 1;
    border: solid $primary 1px;
    height:2;
}

.plugin-container.waiting {
    border-color: $warning 50%;
}

.plugin-container.running {
    border-color: $accent;
}

.plugin-container.success {
    border-color: $success;
}

.plugin-container.error {
    border-color: $error;
}

#progress-zone {
    align: left middle;
    height: auto;
    margin: 1;
    padding: 1;
}

#current-plugin {
    margin: 1 2;
    color: $text;
}

#button-container {
    layout: horizontal;
    align: center middle; /* Centre les éléments horizontalement et verticalement */
    gap: 2; /* Espacement uniforme entre les éléments */
}

#progress-zone {
    layout: horizontal;
    align: center middle;
    gap: 2; /* Espacement des éléments */
}

HorizontalGroup {
    width: 100%; /* Assure que les éléments prennent toute la largeur */
    justify-content: space-evenly; /* Répartit les éléments équitablement */
}