[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pexpect = "*"
textual = "*"
"ruamel.yamlemail-validator" = ">=2.0.0"

[dev-packages]

[requires]
python_version = "3.10"
